body{
    box-sizing: border-box; 
    margin: 0px;
    background-color: aliceblue;
    
 }
  nav{
    height: 50px;
    width: 100%;
    z-index: 1; /*whenever there will be overlapping keep nav up*/
     display: flex;
     background-color: rgb(148, 148, 249);
     overflow: hidden;
     position: fixed;
    
 }
 .logo{
     flex:0.2;
 }
 .nav-items{
     flex:0.8;
     display: flex;
     justify-content: space-evenly;
     
 }
 .nav-items a{
     color: black;
     height:fit-content;
     width:fit-content;
     padding: 5px;
     font-size: 25px;
     margin: auto;
     text-decoration: none;
     
     
 }
 /* .nav-items a:hover{
 color: aliceblue;
 } */
 .nav-items a strong{
    padding: 5px;
    border-radius: 3px;
    
  }
 .logo img{
     height:50px;
     width:70px;  
 }
 .main-container{
    margin-left: 20px;
    padding-top: 50px;
    
   
 }
 p,span,code{
    font-size: 24px;
 }
 .blue{
    color:blue;
 }
 .gray {
    background-color: lightgray;
    padding: 2px;
    border: 1px solid;
    border-radius: 4px;
 }
 pre{
    width:fit-content;
    padding: 10px;
   
    background-color: hsl(0, 2%, 87%);
    box-shadow: 5px 5px 5px  rgba(0, 0, 255, .15);
    border-left: 8px solid #344e78;
  
 }
 .sub-container-page {
    display: flex;
    position: relative;
    
    width: 1460px;

 }
 .sub-container-page pre{
    width:100%;
 }

 .sub-container-page img{
    /* padding: 13px;
    padding-left: 80px; */
    position: absolute;
    right: 0px;
    top: 14px;
    
 }
 .sub-container-sidebar{
    
    width:1450px;
    position: relative;

 }
 .sub-container-sidebar pre{
    width:100% ;
 }
 .sub-container-sidebar img{
    position: absolute;
    right:-27px;
    bottom: 0px;
    /* padding-left: 20px;
    width:500px;
    height: 400px; */
    
 }
 .sub-container-body, .sub-container-header{
    display: flex;
    flex-direction: column;
    width:800px;
    position: relative;
 }
 
 .sub-container-body img{
   
    width:1036px;
 }
 .sub-container-header img{
    position: absolute;
    height: 80px;
    width: 860px;
    left:610px;
    top: 60px;
 }
 h2{
    margin-bottom: 0px;
 }
 .btn{
   display: flex;
   justify-content: center;
  
   margin-bottom: 10px;
   font-size: 24px;
   
} 
.btn div {
   background-color: aliceblue;
   margin: 20px;
   margin-top: 40px;
   margin-bottom: 0px;
   width:100px;
   padding:8px;
   text-align: center;
   padding-left: 15px;
   padding-right: 15px;
   border:2px solid lightgrey ;
   border-radius: 5px;
   
  
}
.btn a{
   text-decoration: none;
   color: black;
}
.btn div:hover{
   cursor: pointer;
   background-color: hsl(0, 2%, 87%);
   box-shadow: 5px 5px 5px  rgba(0, 0, 255, .15);
}
