body{
    box-sizing: border-box; 
    margin: 0px;
 }
  nav{
    height: 50px;
    width: 100%;
    /* margin-top: -30px; */
     display: flex;
     background-color: rgb(148, 148, 249);
     overflow: hidden;
     position: fixed;
 }
 .logo{
     flex:0.2;
     
     
     
 }
 .nav-items{
     flex:0.8;
     
     display: flex;
     justify-content: space-evenly;
     
 }
 .nav-items a{
     color: black;
     height:fit-content;
     width:fit-content;
     padding: 5px;
     font-size: 25px;
     margin: auto;
     text-decoration: none;
     
     
 }
 /* .nav-items a:hover{
 color: aliceblue;
 } */
 .nav-items a strong{
    padding: 5px;
    border-radius: 3px;
    
  }
 .logo img{
     height:50px;
     width:70px;  
 }
 p,span,code{
    font-size: 24px;
 }
 .blue{
    color:blue;
 }
 pre{
    width:fit-content;
    background-color: hsl(0, 2%, 87%);
    padding: 10px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 255, .15);
    
    border-left: 4px solid #344e78;
  
 }