body{
    box-sizing: border-box; 
    margin: 0px;
    background-color: aliceblue;
 }
  nav{
    height: 50px;
    width: 100%;
     display: flex;
     background-color: rgb(148, 148, 249);
     overflow: hidden;
     position: fixed;
 }
 .logo{
     flex:0.2;
     
     
     
 }
 .nav-items{
     flex:0.8;
     
     display: flex;
     justify-content: space-evenly;
     
 }
 .nav-items a{
     color: black;
     height:fit-content;
     width:fit-content;
     padding: 5px;
     font-size: 25px;
     margin: auto;
     text-decoration: none;
     
     
     
 }
 /* .nav-items a:hover{
 color: white;
 } */
 .nav-items a strong{
     padding: 5px;
     border-radius: 3px;
     
   }
 .logo img{
     height:50px;
     width:70px;  
 }
 .main-container{
    display: flex;
    flex-direction: column;
    width:1200px;
    height:fit-content;
    margin: auto;
    padding-bottom: 50px;
    font-size: 24px;
 }
 .sub-container1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
    
 }
 .sub-container1 pre{
    border:2px solid;
    background-color: hsl(0, 2%, 87%);
    box-shadow: 5px 5px 5px  rgba(0, 0, 255, .15);
    border-left: 8px solid #344e78;
    
 }
 .sub-container1 img{
    width:100%;
    height: 500px;
 }
 .main-container h2{
    
    margin-bottom: 0px;
    
 }
 .main-container hr{
    color: #344e78;
 }
 .main-container ul{
    
    margin-top: -10px;
 }
 .main-container ul li{
    padding: 5px;
 }
 .gray {
    background-color: lightgray;
    padding: 2px;
    border: 1px solid;
    border-radius: 4px;
 }
 .blue{
   color: blue;
 }